<o-form-layout-manager attr="Feedback" mode="tab" title="FEEDBACK">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="FeedbackTable" 
            service="Feedback" 
            entity="Feedback" 
            title="FEEDBACK"
            keys="id"
            columns="id;owner_id;walk_id;comments;rating" 
            header-actions="R;D"
            visible-columns="id;owner_id;walk_id;comments;rating"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="owner_id" title="owner_id">
    <o-table-cell-renderer-service attr="owner_id" 
        service="Owner" entity="OwnerType" columns="id;name"
        parent-keys="id:owner_id"
        value-column="name" keys="owner_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="walk_id" title="walk_id">
    <o-table-cell-renderer-service attr="walk_id" 
        service="Walk" entity="WalkType" columns="id;id"
        parent-keys="id:walk_id"
        value-column="id" keys="walk_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #comments attr="comments" title="comments" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #rating attr="rating" title="rating" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>